version: '3'
services:
    database:
        image: postgres
        environment:
            - POSTGRES_USER=deliberate
            - POSTGRES_PASSWORD=testpassword
            - POSTGRES_DB=deliberate
        ports:
            - '5432:5432'
        volumes:
            - database-data:/var/lib/postgresql/data/
    # backend:
    #     build:
    #         context: ./backend
    #         dockerfile: Dockerfile
    #     env_file: ./backend/.env
    #     depends_on:
    #         - database
    #     ports:
    #         - 5000:5000

volumes:
    database-data:
